@font-face {
    font-family: 'futura_condensed';
    src: url('/font/futura_medium_condensed_bt.ttf');
}
@font-face {
    font-family: 'futura_italic';
    src: url('/font/futura_medium_italic.ttf');
}
@font-face {
    font-family: 'futura_bold';
    src: url('/font/futura_bold.otf');
}

* {
    box-sizing: border-box;
}

body {
    margin-bottom: -8px;
}

#offpage {
    position: absolute;
    z-index:2;
    height:100%;
    width:100%;
    background: black;
    margin-left:-8px;
    opacity: 0.9;
    transition: all 500ms ease-in-out;
}
#offpage.active {
    opacity: 0;
    transition: all 500ms ease-in-out;
} 

#surf {
    text-align:center;
    font-size:33px;
    transform:scale(-1,1);
}

#info {
    margin-top:41%;
    margin-left:35%;
    opacity: 0;
}


#title {
    margin-top: -10%;
    text-align:center;
    font-size:16px;
    color: white;
    font-family:'futura_italic';
}

#begin {
    position: absolute;
    z-index:2;
    margin-left:18%;
    margin-top: -2%;
}

#header {
    position: relative;
    display: flex;
    width: 315px;
    height: 88px;
    background: #EF4036;
    margin: -8px -8px 0px -8px;
}

#logo {
    width: 70px;
    height: 70px;
    margin: 13px 10px 10px 16px;
}

#slogan {
    width: 200px;
    height: 70px;
    font-family: 'futura_italic';
    font-size: 22px;
    line-height: 29px;
    color: white;
    margin: 13px 16px 10px 2px;
}

#slogan span {
    background: #FFC414;
    margin-left: 22px;
    border-radius: 12px;
    font-family:'futura-bold';
    font-size:17px;
    color:#EF4036;
    padding: 0 9px 0 9px;
}

#control {
    position: relative;
    text-align: center;
    align-content: center;
    width: 315px;
    height: 160px;
    background: #EF4036;
    margin: -8px -8px 0px -8px;
    font-family: 'futura_condensed';
    font-size:15px;
}

#sp1 {
    margin:12px 35px 6px 37px; 
    color:#BE1E2D;
}
#sp2 {
    margin:12px 35px 6px 36px; 
    color:#BE1E2D;
}
#sp3 {
    margin:12px 37px 6px 35px;
    color:#BE1E2D; 
}
#sp1.active, #sp2.active, #sp3.active {
    color:white;
}

#off {
    width:30px;
    margin: 10px 0 0 38px;
}
#on {
    width:30px;
    margin: 10px 42px 0 76px;
}
#off.active, #on.active {
    color:white;
}

/*---------------------*/
input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background: #8BC650;
  border: none;
  border-radius: 6px;
  cursor:pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: #8BC650 solid 1.4px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: none;
  margin-top: -10px;
  cursor:pointer;
}

input[type=range]:focus {
  outline: none;
}
/*---------------------*/

#words {
    display: flex;
    height:66px;
    width: 315px;
    align-content: center;
    text-align: center;
    font-family: 'futura_italic';
    color: #262261;
    font-size: 22px;
    margin: 0px -8px -8px -8px;
}

#wordsdefine {
    width: 315px;
    height: 270px;
    vertical-align:middle;
    margin: -8px -8px -8px -8px;
    margin-top: -180px;
    transition: all 500ms;
}

#wordsdefine.active {
    margin-top: 0;
	transition: all 500ms;
}

#definition {
    width: 315px;
    height:180px;
    color: #262261;
    font-size: 15px;
    border-bottom: 1px solid #E6E7E8;
}

#app {
    position: absolute;
    width:100%;
    height:55px;
    margin-top:18px;
    margin-left: 2%;
    clear: both;
    float: left;
    white-space: nowrap;
    text-align:center;
    transform:translateX(0%);
    transition: all 500ms;
}

.slide {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.slide:hover {
    color: #000099;
}

.botton {
    display: flex;
}

#female {
    cursor:pointer;
    transform:translateY(25%);
    transition:transform 400ms;
}

#female.active {
    transform:translateY(0%);
    transition:transform 400ms;
}

#male {

    cursor:pointer;
    transform:translateY(25%);
    transition:transform 400ms;
}

#male.active {
    transform:translateY(0%);
    transition:transform 400ms;
}

#icon {
    display: flex;
    margin-top: 2px;
    width: 315px;
}

#left, #right {
    position: relative;
    z-index: 1;
    display: flex;
    width: 66px;
    height: 60px;
    margin-top: 18px;
    cursor: pointer;
}

.biggerDot {
    width:12px; 
    height:12px; 
    background: #262261;
    border-radius: 50%;
    margin-top:27px;
}

.smallDot {
    width:7px; 
    height:7px; 
    background: #262261;
    border-radius: 50%;
    margin-top:30px;
}

#left:hover .biggerDot, #right:hover .biggerDot {
    border: 4px solid #000099;
    background: white;
}

#left:hover .smallDot, #right:hover .smallDot {
    background: #000099;
}

#triangle {
    cursor: pointer;
    margin-left:45%;
    margin-top:-5%;
}

#triangle:hover {
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
}